.grade
{
  font-size : 30px;
}

table, th, td
{
  border: 1px solid black;
}

.tablePres td
{
 width: 50%;
}

table
{
 width : 100%;
}

.formations td:first-child
{
 width: 10%;
}

.compétences td:first-child
{
 width: 30%;
}